@model ASPNET_MVC.Models.EntitiyFramework.Detay

@{
    ViewBag.Title = "Yeni Haber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oluştur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Detay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KullaniciId, "Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KullaniciId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KullaniciId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
            <small>140 Karakter</small>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Makale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Makale, new { @class = "form-control", @rows = "4" })
                @Html.ValidationMessageFor(model => model.Makale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Olusturma_Tarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Olusturma_Tarihi, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @Value = DateTime.Now + "",
                        @id = "hsaat"
                    }
                })
                @Html.ValidationMessageFor(model => model.Olusturma_Tarihi, "", new { @class = "text-danger" })
                <a onclick="return hsaatg()" href="">Güncelle</a>
                <script>
                    function hsaatg() {
                        var d = new Date();
                        $('#hsaat').val(d.getDay() + "." + d.getMonth() + "." + d.getFullYear()
                            + " " + d.getHours() + ":" + d.getMinutes());
                        return false;
                    }
                </script>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
