@model IEnumerable<ASPNET_MVC.Models.EntitiyFramework.Detay>

@{
    ViewBag.Title = "Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Haberler</h2>

<p>
    @Html.ActionLink("Yeni Haber", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Makale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Olusturma_Tarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @item.Makale.ToString().Substring(0, (item.Makale.Length > 250) ? 250 : item.Makale.Length)
                @if (item.Makale.Length >= 200)
                {
                    <small style="color:red"> devamı var..</small>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Olusturma_Tarihi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Oku", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
